<h1> Welcome to the all users posts timeline </h1>

<%  @posts.each do |p| %>

  <h1>Title: <%= p.title %></h1>
  <h3>Body: <%= p.body %></h3>
   <p>Author: <%= link_to User.find(p.user_id).username, user_path(p.user_id) %></p>


  <% end %>
